<Config>
  <Plugins>
    <Lib Name="libInterp4Move.so"/>
    <Lib Name="libInterp4Rotate.so"/>
    <Lib Name="libInterp4Pause.so"/>
    <Lib Name="libInterp4Set.so"/>
  </Plugins>
  
  <Objects>
    <Cube Name="Podstawa" 
          Scale="2 2 0.5" 
          Trans_m="0 0 0" 
          RGB="000 000 255"/>
          
    <Cube Name="Podstawa.Ramie1" 
          Shift="0 0 -0.25"
          Scale="0.3 0.3 1.5" 
          Trans_m="0 0 1" 
          RGB="255 000 000"/>
          
    <Cube Name="Podstawa.Ramie1.Ramie2" 
          Shift="0 0 -0.75"
          Scale="0.2 0.2 1.5" 
          Trans_m="0 0 2" 
          RGB="000 255 000"/>
  </Objects>
</Config>